<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
      if ((location.hostname === 'puklina.com' || location.hostname === 'www.puklina.com') && !location.pathname.startsWith('/coming-soon')) {
        location.replace('/coming-soon/')
      }
    </script>
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta property="og:locale" content="cs_CZ"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}"/>
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    {# Favicons #}
    <link rel="icon" type="image/png" href="/assets/logos/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/assets/logos/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/logos/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Puklina"/>
    <link rel="manifest" href="/assets/logos/site.webmanifest"/>
  </head>
  <body>
    {{ content | safe }}
    <script>
      if (window.netlifyIdentity) {
        window
          .netlifyIdentity
          .on("init", (user) => {
            if (!user) {
              window
                .netlifyIdentity
                .on("login", () => {
                  document.location.href = "/admin/";
                });
            }
          });
      }
    </script>
    <script src="/script.js"></script>
  </body>
</html>