<article class="card">
  <img
    src="{{ project.data.image }}"
    alt="{{ project.data.title }}"
    loading="lazy"
/>
  <div class="card-body">
    <h3>{{ project.data.title }}</h3>
    <p>{{ project.data.description }}</p>
  </div>
</article>