<article class="card hover-scale" style="scroll-snap-align: start;">
  <a href="/realizovane-zakazky/{{ project.data.title | slug }}/" class="link-unstyled">
    <img
      src="{{ project.data.image }}"
      alt="{{ project.data.title | escape }}"
      loading="lazy"
      decoding="async"
/>
    <div class="card-body">
      <h3 class="h6">{{ project.data.title }}</h3>
      <p>{{ project.data.description }}</p>
      {% if project.data.start_date and project.data.end_date %}
        <p class="realizace">
          Realizace:
          <strong>
            {{ project.data.start_date | monthYear }} - {{ project.data.end_date | monthYear }}
          </strong>
        </p>
      {% endif %}
    </div>
  </a>
</article>