<header class="header wrapper--wide{% if is_home %} header--absolute{% endif %}">
  <div class="header__inner">
    <div class="logo">
      <a href="/">
        <img
          src="/assets/logos/cely_logotyp_barevny_bila.png"
          alt="Puklina logo"
          width="400"
          height="auto"
/>
      </a>
    </div>
    <a href="/#kontakt" class="button button-outline header__button">Kontaktujte nás</a>
  </div>
</header>