<section class="hero">
  <video autoplay muted loop playsinline class="hero-bg">
    <source src="/assets/img/video-bg.mp4" type="video/mp4"/>
  </video>
  <div class="wrapper section--hug">
    <div class="hero-content">
      <h1 class="fade-in">
        <span class="clr-primary">REKONSTRUKCE</span> A REALIZACE STAVEB</h1>
      <div class="grid-2 mt-5 align-center">
        <div>
          <h2 class="visually-hidden">Kdo jsme</h2>
          <p class="hug lead">
          Jsme rodinná firma specializující se na rekonstrukce staveb po celé České republice.
        </p>
        </div>
        <div>
          <h2 class="visually-hidden">Co děláme</h2>
          <ul class="hug">
            <li>Rekonstrukce, realizace staveb a obnova památek</li>
            <li>Klempířské, pokrývačské práce a izolaterské práce</li>
            <li>Tesařské práce</li>
            <li>Kompletní realizace staveb na klíč</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="mt-5">
      <a href="#kontakt" class="button">Nezávazně poptat</a>
      <p class="subtext faded">
            Nebo volejte <a href="tel:+420725468422">+420&nbsp;725&nbsp;468&nbsp;422</a>
      </div>
    </div>
  </div>
</section>