<section class="wrapper section--hug logos">
  <div class="logos-grid">
    <img src="/assets/img/acme.svg" alt="Klient 1" loading="lazy"/>
    <img src="/assets/img/atica.svg" alt="Klient 2" loading="lazy"/>
    <img src="/assets/img/circle.svg" alt="Klient 3" loading="lazy"/>
    <img src="/assets/img/foxhub.svg" alt="Klient 4" loading="lazy"/>
    <img src="/assets/img/kyan.svg" alt="Klient 5" loading="lazy"/>
  </div>
</section>