<div class="logos-grid">
  <img src="/assets/img/acme.svg" alt="Klient 1" loading="lazy" class="hover-scale"/>
  <img src="/assets/img/atica.svg" alt="Klient 2" loading="lazy" class="hover-scale"/>
  <img src="/assets/img/circle.svg" alt="Klient 3" loading="lazy" class="hover-scale"/>
  <img src="/assets/img/foxhub.svg" alt="Klient 4" loading="lazy" class="hover-scale"/>
  <img src="/assets/img/kyan.svg" alt="Klient 5" loading="lazy" class="hover-scale"/>
</div>