<section class="wrapper section--hug logos">
  <div class="logos-grid">
    <img src="/assets/logos/client1.svg" alt="Klient 1" loading="lazy"/>
    <img src="/assets/logos/client2.svg" alt="Klient 2" loading="lazy"/>
    <img src="/assets/logos/client3.svg" alt="Klient 3" loading="lazy"/>
    <img src="/assets/logos/client4.svg" alt="Klient 4" loading="lazy"/>
    <img src="/assets/logos/client5.svg" alt="Klient 5" loading="lazy"/>
  </div>
</section>