---
layout: base.njk
---
<a href="/">{% include "header.njk" %}</a>

<article class="project">
  <div class="project-overview">
    <div class="project-overview__bg" style="background-image: url('{{ image }}');"></div>
    <div class="project-overview__content wrapper--wide">
      <div class="project-title">
        {% set words = title.split(' ') %}
        <h1 class="hug">
          {{ words.slice(0, -1).join(' ') }}
          <span class="clr-primary">{{ words[words.length - 1] }}</span>
        </h1>
      </div>
      <div class="project-description">
        <p class="lead">
          <strong>{{ description }}</strong>
        </p>
        {% if start_date and end_date %}
          <p class="realizace">
            <strong>
              Realizace:
              {{ start_date | monthYear }} – {{ end_date | monthYear }}
            </strong>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="wrapper--narrow">
    <div class="project-content">
      {{ content | safe }}
    </div>
  </div>
  <!-- GALLERY SECTION -->
  {% if gallery %}
    <div class="gallery wrapper--wide">
      {% for img in gallery %}
        <div class="gallery__item" data-full="{{ img }}">
          <img class="mx-auto" src="{{ img }}" alt="{{ title }}">
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="wrapper--narrow text-center mt-6">
    <p>
      <a href="/#kontakt" class="button">Kontaktujte nás</a>
    </p>
    <p class="small-print mt-4">
      <a href="/" class="btn btn--primary link-unstyled faded">← Nebo zpět na hlavní stránku</a>
    </p>
  </div>
</article>

<!-- MODAL -->
<div id="imageModal" class="image-modal">
  <span class="image-modal__close">&times;</span>
  <img class="image-modal__content" id="modalImage">
</div>

{% include "footer.njk" %}