---
eleventyExcludeFromCollections: true
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administrace webu - Puklina</title>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="https://unpkg.com/decap-cms@^3/dist/decap-cms.js"></script>
    <!-- Loads the CSS in Decap CMS -->
    <script>
      CMS.registerPreviewStyle("/css/styles.css");
    </script>
  </body>
</html>