---
layout: base.njk
title: "Děkujeme za zprávu"
description: "Děkujeme za zprávu. Ozveme se co nejdřív."
eleventyExcludeFromCollections: true
---

{% include "header.njk" %}

<main>
  <section class="wrapper wrapper--narrow mt-5 mb-6">
    <h1 class="hug">Děkujeme. Zpráva <span class="clr-primary">dorazila</span>.</h1>
    <p>Ozveme se vám co nejdřív.</p>

    <p class="small-print mt-4">
      <a href="/" class="btn btn--primary link-unstyled faded">← Zpět na hlavní stránku</a>
    </p>
  </section>
</main>

{% include "footer.njk" %}